/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  text-align: center;
  overflow-x: hidden; /* Prevent horizontal scrolling */ 
}

header {
  padding: 1rem;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: gray; /* Hover effect */
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.project {
  border: 1px solid white;
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
  border-radius: 5px;
}

/* Skills Logos */
.skills img {
  width: 50px;
  margin: 0 15px;
}

/* Social Media Logos */
.social-media img {
  width: 40px;
  margin: 0 10px;
}

footer {
  background-color: black;
  color: white;
  padding: 1rem 0;
  width: 100%;
  bottom: 0;
}
